/* PHASE 6: Sidebar */
.sidebar a.profile-picture {
  display: block;
  width: 198px;
  height: 198px;
  position: relative;
  margin-top: -100px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.profile-info h2 {
  font-size: 24px;
  margin: 20px 20px;
}

.profile-info p {
  margin: 20px 20px;
}

.profile-nav li {
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.profile-nav ul {
  margin: 20px 20px;
}

.profile-nav ul:first-child {
  border-top: 1px solid #ccc;
}
